.client-products{
    margin: 0 70px;
    border-top: solid 1px rgb(232, 227, 227);
}

.p-head{
    margin-top: 20px;
}

.client-products-content{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.client-products-content p{
    font-weight: 300;
    text-align: left;
}


select{
    padding: 5px;
    border: dotted 1px lightgray;
    color: #4c4c4c;
}

.client-products-container{
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-evenly;
}

.p-card{
    gap: 0.6rem;
    padding: 1rem;
    border-radius: 10px;
    max-width: max-content;
    margin: auto;
    transition: all 300ms ease-in;
}

.p-card>img{
    width: 100%;
    max-width: 15rem; 
    border-radius: 5px; 
}

.p-card>:nth-child(2){
    font-size: 1.2rem;
    font-weight: 500;
}

.p-card>:nth-child(3){
    font-size: 1.5rem;
    width: 18rem;
}

.p-card>:nth-child(4){
    font-size: 0.7rem;
    width: 15rem;
}

.p-card:hover{
    scale: 1.025;
    cursor: pointer;
    background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(136, 160, 255, 0.46) 217.91%);
    box-shadow: 0px 72px 49px -51px rgba(136, 160, 255, 0.21) ;
}

.p-buttons{
    width: 100px;
    background-color: var(--lightBlue);
    padding: 5px;
    border-radius: 5px;
    color: var(--blue);
    font-size:10px;
    font-weight: 600;
}

.p-buttons:hover{
    scale: 0.8;
    background: var(--blue-gradient);
    color: white;

}


