.hero-wrapper{
    color:white;
    position: relative;
    padding-bottom: 2rem;
    background-color: var(--black);
}

.hero-container{
    justify-content: space-between;
    align-items: flex-end;
}

/*Right side*/

.image-container{
    width: 30rem;
    height: 35rem;
    overflow: hidden;
    border-radius: 15rem 15rem 0rem 0rem;
    border: 10px solid rgba(255, 255, 255, 0.12);
}

.image-container>img{
    width: 100%;
    height: 100%;
}