.hero-wrapper{
    position: relative;
    padding-bottom: 2rem;
    /*background-color: var(--black);*/
}

.hero-container{
    justify-content: space-between;
    align-items: flex-end;
    background-color: var(--black);
    color:white;
}



/*left side*/

.hero-left{
    gap: 3;
    /*width: 40%;*/
}

.hero-title{
    position: relative;
    z-index: 1;
}

.hero-title>h1{
    font-weight: 600;
    font-size: 3.8rem;
    line-height: 4rem;
}

.orange-circle{
    height: 4rem;
    width: 4rem;
    background: var(--orange-gradient);
    border-radius: 999px;
    position: absolute;
    right: 28%;
    top: -10%;
    z-index: -1;
}

.search-bar{
    background-color: white;
    border-radius: 5px;
    border: 3px solid rgba(120, 120, 120, 0.374);
    padding: 0.4rem 0.5rem;
    justify-content: space-between;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;
}

.search-bar>input{
    border: none;
    outline: none;
}

.stats{
    width: 100%;
    justify-content: space-between;
}

.stat>:nth-child(1){
    font-size: 2rem;
}

.stat>:nth-child(1)>:last-child{
    color: orange;
}

/*Right side*/

.image-container{
    width: 30rem;
    height: 34rem;
    overflow: hidden;
    border-radius: 15rem 15rem 0rem 0rem;
    border: 10px solid rgba(255, 255, 255, 0.12);
}

.image-container>img{
    width: 100%;
    height: 100%;
}


/* Slider */
.r-wrapper{
    background-color: white;
    color: black;
}

.r-container{
    overflow: hidden;
    position: relative;
}

.r-head{
    margin-bottom: 2rem;
    margin-left: 2rem;
}

.r-card{
    gap: 0.6rem;
    padding: 1rem;
    border-radius: 10px;
    max-width: max-content;
    margin: auto;
    transition: all 300ms ease-in;
}

.r-card>img{
    width: 100%;
    max-width: 15rem; 
    border-radius: 5px; 
}

.r-card>:nth-child(2){
    font-size: 1.5rem;

}

.r-card>:nth-child(3){
    font-size: .7rem;
    width: 15rem;
}

.r-card:hover{
    scale: 1.025;
    cursor: pointer;
    background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(136, 160, 255, 0.46) 217.91%);
    box-shadow: 0px 72px 49px -51px rgba(136, 160, 255, 0.21) ;
}

.swiper-horizontal{
    overflow: visible;
}

.r-buttons{
    display: flex;
    justify-content: space-between;
    gap: 80rem;
    position: absolute; /* Set to absolute */
    top: 25%; /* Adjust top position */
    left: 2rem;
    
    z-index: 1; 
}

.r-buttons>button{
    border: none;
    background-color: transparent;
    font-size: 30px;
    border-radius: 5px;
    color: lightgray;
    cursor: pointer;
}


/* Image Container */
.c-image-container{
    width: 30rem;
    height: 34rem;
    overflow: hidden;
    border-radius: 15rem 15rem 0rem 0rem;
    border: 10px solid rgba(255, 255, 255, 0.12);
}

.c-image-container>img{
    width: 100%;
    height: 100%;
}

.c-container{
    justify-content: space-between;
}

.c-container>div{
    flex: 1;
}

.c-left{
    width: 100%;
    gap: 0.5rem;
}

.contactModes{
    margin-top: 2rem;
    gap: 1rem;
}

.contactModes .row{
    gap: 1.5rem;
}

.mode{
    width: 16rem;
    padding: 1rem;
    border: 0.8px solid rgba(128, 128, 128, 0.143);
    border-radius: 5px;
    gap: 1rem;
    transition: all 300ms ease-in;
}

.mode .c-button{
    width: 100%;
    background-color: var(--lightBlue);
    padding: 0.6rem 1.4rem;
    color: var(--blue);
    font-size: 0.9rem;
    font-weight: 600;
}

.mode>:nth-child(1){
    width: 100%;
    gap: 1.6rem;
}

.mode .detail .primaryText{
    font-size: 1.1rem;
    font-weight: 600;
}

.mode:hover{
    scale: 1.1;
    box-shadow: var(--shadow);
}

.mode .c-button:hover{
    scale: 0.8;
    background: var(--blue-gradient);
    color: white;

}







