.h-wrapper{
    background: var(--black) ;
    color: white;
}

.h-container{
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: var(--secondary);
}

.h-container>img{
    height: 60px;
    width: 60px;
}

.h-menu{
    gap: 2rem;
    font-size: 20px;
    
}

.h-menu>*:hover{
    cursor: pointer;
    text-decoration: none;

}


