.admin-app{
    /*background: linear-gradient(106.37deg, #ffe1bc 29.63%, #ffcfd1 51.55%, #f3c6f1 90.85%);*/
    background: linear-gradient(167deg, rgba(2,0,36,1) 0%, rgba(31,62,114,1) 32%, rgb(6, 49, 156) 100%);
    /*background:  linear-gradient(117deg, rgba(42,94,180,1) 0%, rgba(5,3,111,1) 76%);*/

    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex; 
}

.app-glass{
    display: grid;
    height: 97%;
    width: 97%;
    border-radius: 2rem;
    background-color:rgba(255, 255, 255, 0.54); 
    overflow: hidden;
    /* with right side 
    grid-template-columns: 11rem auto 20rem;
    gap: 20px;
    */
    /* without right side */
    grid-template-columns: 15rem auto;
    gap: 20px;
    padding-right: 40px;
}