*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}

.admin-navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:grey; 
    height: 90px;
   /* margin: 20px 40px;*/
   /* padding-bottom: 10px;*/
}

.nav-links-left .nav-link{
    margin-left: 20px;
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    
}


.nav-text{
    text-transform: uppercase;
}

.nav-links-right{
    display: flex;
}

.nav-links-right .nav-link{
    margin-right: 20px;
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    
}



.nav-link.active{
    color: #A86E3B;
}

.nav-link:hover{
    color: #b88a5f;
}