.right-products-form>span{
    color: black;
    font-size: 1.5rem;
    font-weight: lighter;
    margin-bottom: 20px;
}

.right-products-form {
    display: flex;
    flex-direction: column;
    padding: 20px;
    /*align-items: center;
    gap: 10px; */
  }

.right-products-form div {
    display: flex;
    flex-direction: column;
}
  
.right-products-form label {
    font-weight: normal;
    margin-bottom: 5px; 
    color: black;
}
  
  
.right-products-form input, .right-products-form textarea {
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
    background-color:  rgba(255, 255, 255, 0.9);
}

.right-products-form input:focus, .right-products-form textarea:focus {
    border: 1px solid #ccc;
    outline: none;
}

.right-products-form button {
    margin-top: 20px;
    width: 100%;
    font-weight: 500;
    color: white;
    padding: 0.6rem 1.4rem;
    background: var(--blue-gradient);
    border:none;
    border-radius: 0.2rem;
    transition: all 300ms ease-in;
}

.right-products-form button:hover{
    cursor: pointer;
    transform: scale(1.1);
}