.sidebar {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-top: 4rem;
    transition: all 300ms ease;
    

}

.logo {
    display: flex;
    height: 5rem;
    font-size: 22px;
    font-weight: bold;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    height: 4%;
}

.logo > img {
    width: 3rem;
    height: 3rem;
}

/* menu */

.menu {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.menu-item {
    display: flex;
    align-items: center;
    gap: 1rem;
    height: 2.5rem;
    margin-left: 2rem;
    position: relative;
    transition: all 300ms ease;
    font-size: 14px;
}

.menu-item:hover {
    cursor: pointer;
}

.menu-item > a {
    color: black;
    border-radius: 0.7rem;
}

/* .menu-item > a:hover {
    background: linear-gradient(rgb(241, 240, 238) -146.42%, rgb(246, 185, 80) -46.42%);
    margin-left: 0;
    color: white;
} */

.menu .menu-item:last-child {
    position: relative;
    bottom: 0.5rem;
    width: 100%;
}
@media (max-width: 1024px) {
    /* Set menu-item width to 10% of the viewport width */
    .menu .menu-item:last-child{
        bottom: 5vh;
    }
    .bakeryname{
        margin-left: 80px;
    }
    /* .icon{
        margin-left: 5px;
        
        
    } */
}

@media (max-width: 768px) {
    /* Set menu-item width to 10% of the viewport width */
    .menu .menu-item:last-child{
        bottom: 1vh;
    }
    .menu{
        width: 10vw;
    }
    .icon-name{
        display: none;
    }
    
    
    /* .sidebar{
        width: 20vw;
    } */
}

@media (max-width: 430px) {
    /* Further size reduction and adjustments for mobile */
   
   .icon-name{
    display: none;
   }
   .menu-item{
    margin-left: 5px;
   }
}
