.h-wrapper{
    background-image: url("/bakery_logo.jpg");
    color: black;
}

.h-container{
    display: flex;
    justify-content: space-between;
    padding-left:5rem;
    padding-right: 5rem;
    padding-top: 2rem;
    padding-bottom: 1rem;
    color: var(--secondary);
}

.client-nav-link{
    text-decoration: none;
    color: chocolate;
}

.log{
    width:100px; 
    height:80px; 
}



.h-menu{
   
    font-size: 20px;
}

.h-menu .client-nav-link{
    margin-left: 30px;
}

.h-menu .button{
    margin-left: 30px;
    
    
    
}

.button-navlink{
    color:white;
    
}


.h-menu>*:hover{
    cursor: pointer;
    text-decoration: none;
}

.bag-quantity{
    padding: 5px;
    background-color: orange;
    border-radius: 50%;
    font-size: 14px;
    font-weight: 700;
    margin-left: 2px;
    
}

.menu-icon{
    display: none;
}


@media (max-width: 540px){
    .log{
        width: 80px;
        height: 80px;
        position: absolute;
        top: 5px;
        left: 0;
    }
    .h-container{
        justify-content: space-between;
        padding: 45px;
        
    }
    .h-menu{
        font-size: 17px;
        position: absolute;
        right: 0;
        top: 25px;
    }
    .h-menu .button{
        padding: 10px;
    }
   




}

@media (max-width: 540px){
    .log{
        width: 100px;
        height: 80px;
        position: absolute;
        top: 5px;
        left: 0;
    }
    .h-container{
        justify-content: space-between;
        padding: 45px;
        
    }
    .h-menu{
        font-size: 17px;
        position: absolute;
        right: 0;
        top: 25px;
    }
    .h-menu .button{
        padding: 10px;
    }




}

@media (max-width: 412px){
    .log{
        width: 80px;
        height: 60px;
        position: absolute;
        top: 15px;
        left: 0;
    }
    .h-container{
        justify-content: space-between;
        
        
    }
    .h-menu{
        font-size: 15px;
        position: absolute;
        right: 0;
        top: 25px;
        
    }
    .h-menu .client-nav-link{
        margin: 5px;
    }
    .h-menu .button{
        padding: 5px;
      
    }
    .h-menu svg{
        width: 30px;

    }
    .bag-quantity{
        padding: 2px;
        background-color: orange;
        border-radius: 50%;
        width: 15px;
        height: 20px;
        font-size: 13px;
        font-weight: 700;
        margin-left: 0;
        
       
        
    }




}




@media (max-width: 360px){
    .log{
        width: 80px;
        height: 60px;
        position: absolute;
        top: 15px;
        left: 0;
    }
    .h-container{
        justify-content: space-between;
        
        
    }
    .h-menu{
        font-size: 15px;
        position: absolute;
        right: 0;
        top: 25px;
        
    }
    .h-menu .client-nav-link{
        margin: 5px;
    }
    .h-menu .button{
        padding: 5px;
      
    }
    .h-menu svg{
        width: 30px;

    }
    .bag-quantity{
        padding: 2px;
        background-color: orange;
        border-radius: 50%;
        width: 15px;
        height: 20px;
        font-size: 13px;
        font-weight: 700;
        margin-left: 0;
        
       
        
    }




}



